@font-face {
    font-family: 'FontAwesome';
    src : url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.eot?v=4.3.0");
    src : url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://d1reucolqiaak1.cloudfront.net/avon/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.mobile-icon, .envelope-icon {
    font-family: FontAwesome;
}

.mobile-icon::before{
    content:"\f10b";
    padding-right: 5px;
    padding-left: 5px;
}

.envelope-icon::before{
    content:"\f003";
}

.restart-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.vjs-share-control.vjs-button{
    z-index : 1;
}

.vjs-modal-dialog.vjs-player-info-modal{
    z-index : 4;
}

.vjs-social-embed-code {
    display: none;
}

.vjs-social-share-link.vjs-icon-facebook:focus{
    color: #fff;
}

.vjs-restart.vjs-icon-replay.vjs-button {
    width: 100%;
}

@media (max-width: 480px) {
    .vjs-restart.vjs-icon-replay.vjs-button {
       font-size: 2.3em;
    }
}