@font-face {
    font-family: 'Gotham';
    src: url('https://d1reucolqiaak1.cloudfront.net/avon/Gotham-Medium.eot');
    src: url('https://d1reucolqiaak1.cloudfront.net/avon/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://d1reucolqiaak1.cloudfront.net/avon/Gotham-Medium.woff2') format('woff2'),
    url('https://d1reucolqiaak1.cloudfront.net/avon/Gotham-Medium.woff') format('woff'),
    url('https://d1reucolqiaak1.cloudfront.net/avon/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.cta-button {
    position: absolute;
    right: 0;
    bottom: 50px;
    font-family: Gotham;
    font-size: 16px;
    color: black;
    display: table-cell;
    width: 280px;
    height:80px;
    line-height: 28px;
    background-color: rgba(255,255,255, .6);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    z-index:2;
}
.cta-text{
    position: absolute;
    top: 50%;
    left: 0;
    width: 280px;
    transform: translate(0%, -50%);
    text-align: center;
    color: #000;
}

@media (max-width: 480px) {
    .cta-button {
        position: absolute;
        right: 0;
        bottom: 50px;
        width: 100px;
        height:40px;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        line-height: 13px;
    }

    .cta-text{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        transform: translate(0%, -50%);
        text-align: center;
        color: #000;
    }
}